<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-block mr-5" id="body-butters-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Body Butters
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="body-butters-link">
                <a href="" class="dropdown-item">All Skin Types</a>
                <a href="" class="dropdown-item">Sensitive Skin</a>
                <a href="" class="dropdown-item">Blemish-Prone Skin</a>
                <a href="" class="dropdown-item">All Body Butters</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-block mr-5" id="body-scrubs-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Body Scrubs
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="body-scrubs-link">
                <a href="" class="dropdown-item">Cleansing</a>
                <a href="" class="dropdown-item">Moisturising</a>
                <a href="" class="dropdown-item">Skin Brightening</a>
                <a href="" class="dropdown-item">All Body Scrubs</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-block mr-5" id="body-wash-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Body Wash
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="body-wash-link">
                <a href="" class="dropdown-item">Soothing</a>
                <a href="" class="dropdown-item">Energising</a>
                <a href="" class="dropdown-item">Exfoliating</a>
                <a href="" class="dropdown-item">All Body Wash</a>
            </div>
        </li>
    </ul>
</div>