<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto ms-auto">
        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link" role="menu">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item" role="menuitem">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item" role="menuitem">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item" role="menuitem">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item" role="menuitem">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-block mr-5" id="body-scrubs-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                Body Scrubs
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="body-scrubs-link" role="menu">
                <a href="{% url 'products' %}?category=sensitive" class="dropdown-item" role="menuitem">Sensitive</a>
                <a href="{% url 'products' %}?category=exfoliating" class="dropdown-item" role="menuitem">Exfoliating</a>
                <a href="{% url 'products' %}?category=moisturising" class="dropdown-item" role="menuitem">Moisturising</a>
                <a href="{% url 'products' %}?category=sensitive,exfoliating,moisturising" class="dropdown-item" role="menuitem">All Body Scrubs</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-block mr-5" id="body-butters-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                Body Butters
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="body-butters-link" role="menu">
                <a href="{% url 'products' %}?category=for_men" class="dropdown-item" role="menuitem">For Men</a>
                <a href="{% url 'products' %}?category=for_women" class="dropdown-item" role="menuitem">For Women</a>
                <a href="{% url 'products' %}?category=for_children" class="dropdown-item" role="menuitem">For Children</a>
                <a href="{% url 'products' %}?category=for_men,for_women,for_children" class="dropdown-item" role="menuitem">All Body Butters</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-block mr-5" id="new-arrivals-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                New Arrivals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="new-arrivals-link" role="menu">
                <a href="{% url 'products' %}?category=body_scrubs" class="dropdown-item" role="menuitem">Body Scrubs</a>
                <a href="{% url 'products' %}?category=body_butters" class="dropdown-item" role="menuitem">Body Butters</a>
                <a href="{% url 'products' %}?category=body_scrubs,body_butters" class="dropdown-item" role="menuitem">All New Arrivals</a>
            </div>
        </li>
    </ul>
</div>